  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    hostname: authelia
    <<: *vault-app-defaults
    networks:
      - app
    environment:
      - TZ=${TZ}
      - AUTHELIA_JWT_SECRET_FILE=/run/secrets/AUTHELIA_JWT_SECRET
      - AUTHELIA_SESSION_SECRET_FILE=/run/secrets/AUTHELIA_SESSION_SECRET
      - AUTHELIA_STORAGE_PASSWORD_FILE=/run/secrets/AUTHELIA_STORAGE_PASSWORD
    volumes:
      - ${VOLUMES_DIR}/authelia:/config:ro
